

h1 {
  text-align: center;
  color: darkblue;
}
body {
  text-align: center;
  background-color: darkblue;
}

a{
  text-size: 9999px;
  text-align: center;
  text-emphasis: bold;
  color: magenta;  
}
